/* Canvas.css */

#canvas-container {
    display: flex;
    flex-direction: column;
}

#canvas {
    border: 1px solid black;
    width: fit-content;
    user-select: none;
    background-color: #D3D3D3;
}

#pixels {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.pixel {
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    box-sizing: border-box;
}

#button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem;
}

.canvas-button {
    width: 5rem;
    text-align: center;
    border: 1px solid black;
}

#save {
    margin-top: 1.5rem;
    background-color:palevioletred;
    color: white;
}